**PART 1**

In [52]:
import nltk
import re
import pandas as pd

In [30]:
f = open("peterpan.txt", "r", encoding="utf-8-sig")
t = f.read()
len(t)

274950

In [31]:
t = re.sub(r"\n+", " ", t)
print(t[:100])

The Project Gutenberg eBook of Peter Pan, by James M. Barrie This eBook is for the use of anyone any

This number represents the number of total characters in the file.

In [32]:
import nltk.tokenize as tok
sents = tok.sent_tokenize(t, language="english")
len(sents)

2563

Before and after adding the spaces, the result is the same (number of sentences).

In [33]:
print(sents[0])
print("====")
print(sents[1])
print("====")

The Project Gutenberg eBook of Peter Pan, by James M. Barrie This eBook is for the use of anyone anywhere in the United States and most other parts of the world at no cost and with almost no restrictions whatsoever.
====
You may copy it, give it away or re-use it under the terms of the Project Gutenberg License included with this eBook or online at www.gutenberg.org.
====

In [35]:
f = open("peterpan.txt", "r", encoding="utf-8-sig")
t = f.read()
tokens = tok.word_tokenize(t, language="english")
print(tokens[:30])

['The', 'Project', 'Gutenberg', 'eBook', 'of', 'Peter', 'Pan', ',', 'by', 'James', 'M.', 'Barrie', 'This', 'eBook', 'is', 'for', 'the', 'use', 'of', 'anyone', 'anywhere', 'in', 'the', 'United', 'States', 'and', 'most', 'other', 'parts', 'of']

What happened to the line breaks?

They are not considered in the tokens.

How many tokens does the text contains?

In [36]:
len(tokens)

61945

**PART 2**

In [48]:
import collections
c = collections.Counter(tokens)
print(c.most_common(10))
print(c["with"])

[(',', 3981), ('.', 2441), ('the', 2330), ('“', 1464), ('”', 1464), ('and', 1420), ('to', 1222), ('a', 959), ('of', 923), ('was', 920)]
361

In [50]:
import string
tokens_new = [i for i in tokens if i not in string.punctuation]
c = collections.Counter(tokens_new)
del(c["and"])
print(c.most_common(10))

[('the', 2330), ('“', 1464), ('”', 1464), ('to', 1222), ('a', 959), ('of', 923), ('was', 920), ('he', 878), ('in', 698), ('it', 655)]

In [71]:
df = pd.DataFrame(c.items(), columns=['Item', 'Count'])
df.head()

        Item  Count
0        The    166
1    Project     84
2  Gutenberg     28
3      eBook     11
4         of    923

How many types and how many tokens does the text contain?

In [78]:
num_types = len(set(tokens))
num_types

6105

What is its type-token-ratio?

In [79]:
num_types/len(tokens)

0.09855516990879006

How many hapaxes are in the dataset?

In [77]:
df[df["Count"] == 1].count()

Item     3133
Count    3133
dtype: int64

What percentage of all word types are hapaxes?

How many word types start with upper case A?

**PART 3**